<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <add id="Dolphin_ExampleAdminNewPage::greetings" title="Greetings" translate="title" module="Dolphin_ExampleAdminNewPage" parent="Magento_Backend::content" sortOrder="50" dependsOnModule="Dolphin_ExampleAdminNewPage" resource="Dolphin_ExampleAdminNewPage::greetings"/>
      <add id="Dolphin_ExampleAdminNewPage::greetings_helloworld" title="Hello World" translate="title" module="Dolphin_ExampleAdminNewPage" parent="Dolphin_ExampleAdminNewPage::greetings" sortOrder="10" dependsOnModule="Dolphin_ExampleAdminNewPage" action="exampleadminnewpage/helloworld" resource="Dolphin_ExampleAdminNewPage::greetings"/>
    </menu>
</config>
