<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="exampleadminnewpage" frontName="exampleadminnewpage">
            <module name="Dolphin_ExampleAdminNewPage"/>
        </route>
    </router>
       <router id="standard">
        <route id="exampleadminnewpage" frontName="samplenewpage">
            <module name="Vendor_Module"/>
        </route>
    </router>
</config>
