<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!-- START: argument replacement that enables our command -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="Dolphin\TutorialPluginTestbedCommand"   xsi:type="object">Dolphin\TutorialPlugin\Command\Testbed</item>
                <item name="Dolphin\TutorialPluginInstalledCommand" xsi:type="object">Dolphin\TutorialPlugin\Command\Installed</item>
            </argument>
        </arguments>
    </type>    
    <type name='Dolphin\TutorialPlugin\Controller\Index\Example'> 
     <plugin name='Dolphin_TutorialPlugin' type='Dolphin\TutorialPlugin\Plugin\ExamplePlugin' sortOrder='10' disabled='false'  />
   </type>

    <!-- END: argument replacement that enables our command -->    
</config>